.contactListContainer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding-inline-start: 0;
}

.warning {
  font-family: Arial, Helvetica, sans-serif;
}
