.notFoundContainer {
  text-align: center;
  margin-top: 250px;
}

.notFoundText {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.notFoundAccent {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100px;
  color: #4d5ae5;
  margin-bottom: 20px;
}

.backHome {
  font-family: Arial, Helvetica, sans-serif;
  color: #4d5ae5;
}
